 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 493px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 31px auto 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: -48px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 493px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-image-1 {
  width: 389px;
  height: 389px;
  --radius: 20px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 159px;
  height: 159px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -115px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 159px;
  height: 159px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -158px 113px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 44px;
  }

  .u-section-1 .u-btn-2 {
    padding: 9px 60px 11px 58px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 295px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 642px;
}

.u-section-2 .u-text-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  min-height: 429px;
  height: auto;
  --radius: 30px;
  margin-top: 42px;
  margin-bottom: 58px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 91px;
  height: 91px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 399px 0 0;
}

.u-section-2 .u-group-2 {
  width: 302px;
  min-height: 344px;
  height: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -338px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  width: 198px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-group-1 {
    min-height: 561px;
    margin-bottom: -97px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 423px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 415px;
    margin-left: 8px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -408px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-2 .u-group-1 {
    min-height: 826px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-group-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 583px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 127px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: none;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  margin: 30px 178px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 10px 109px 11px 108px;
}

.u-section-3 .u-list-item-2 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: none;
  font-weight: 400;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  margin: 30px 178px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 10px 109px 11px 108px;
}

.u-section-3 .u-list-item-3 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: none;
  font-weight: 400;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-11 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-12 {
  font-size: 3rem;
  margin: 30px 178px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 10px 109px 11px 108px;
}

.u-section-3 .u-group-1 {
  width: 141px;
  height: 141px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -465px auto 0 209px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 120px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 307px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 76px;
    padding-left: 75px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 76px;
    padding-left: 75px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 76px;
    padding-left: 75px;
  }

  .u-section-3 .u-group-1 {
    width: 116px;
    height: 116px;
    margin-top: -511px;
    margin-bottom: 60px;
    margin-left: 166px;
  }

  .u-section-3 .u-text-13 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 129px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 736px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
    padding-right: 103px;
    padding-left: 103px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
    padding-right: 103px;
    padding-left: 103px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
    padding-right: 103px;
    padding-left: 103px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -918px;
    margin-bottom: -89px;
    margin-left: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 118px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1124px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    padding-right: 206px;
    padding-left: 205px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    padding-right: 206px;
    padding-left: 205px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    padding-right: 206px;
    padding-left: 205px;
  }

  .u-section-3 .u-group-1 {
    margin: -1181px 20px -79px auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1368px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 129px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 106px;
    padding-left: 105px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 106px;
    padding-left: 105px;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 106px;
    padding-left: 105px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -1248px;
    margin-bottom: -229px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 602px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 34px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 10px 47px 10px 46px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 284px;
  height: 396px;
  --radius: 30px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 100px;
}

.u-section-4 .u-shape-1 {
  width: 126px;
  height: 126px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -102px 0 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 126px;
  height: 126px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -126px 63px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 56px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 141px;
    padding-left: 140px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 86px;
    padding-left: 85px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-4 .u-image-1 {
    width: 237px;
    height: 335px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -63px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 133px;
    padding-left: 132px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 394px;
    height: 555px;
    margin-top: 6px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -93px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -114px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
    padding-right: 97px;
    padding-left: 95px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-4 .u-image-1 {
    width: 257px;
    height: 366px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -63px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 372px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 37px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 1px 30px 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-5 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-5 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 872px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 60px;
  font-size: 3rem;
}

.u-section-6 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 59px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 669px;
  grid-gap: 30px;
}

.u-section-6 .u-list-item-1 {
  --radius: 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 95px;
  height: 95px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 23px;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-2 {
  --radius: 30px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 95px;
  background-image: none;
  height: 95px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 23px;
}

.u-section-6 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-3 {
  --radius: 30px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  width: 95px;
  background-image: none;
  height: 95px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 23px;
}

.u-section-6 .u-text-6 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-item-4 {
  --radius: 30px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  width: 95px;
  background-image: none;
  height: 95px;
  color: rgb(255, 255, 255) !important;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 23px;
}

.u-section-6 .u-text-8 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-1 {
    margin-top: 29px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1056px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 281px;
  background-image: none;
  --radius: 30px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 566px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/6069102/images/beautiful-young-lady-standing-cafe-work-with-laptop.jpg");
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 566px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/6069102/images/17253630_5831927.jpg");
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 281px;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 281px;
  --radius: 30px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-3 {
  min-height: 566px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/6069102/images/robot-handshake-human-background-futuristic-digital-age.jpg");
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-7 .u-image-1 {
    min-height: 466px;
  }

  .u-section-7 .u-image-2 {
    min-height: 466px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 232px;
  }

  .u-section-7 .u-image-3 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 535px;
  }

  .u-section-7 .u-image-2 {
    min-height: 535px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-image-3 {
    min-height: 1071px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 803px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 803px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 803px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2406px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 506px;
  }

  .u-section-7 .u-image-2 {
    min-height: 506px;
  }

  .u-section-7 .u-image-3 {
    min-height: 506px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 404px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 418px 0 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 55px;
  margin-bottom: -251px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 124px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-1 {
  padding: 16px 20px;
}

.u-section-8 .u-image-1 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-8 .u-image-2 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-8 .u-image-3 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 16px 20px;
}

.u-section-8 .u-image-4 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-5 {
  padding: 16px 20px;
}

.u-section-8 .u-image-5 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-6 {
  padding: 16px 20px;
}

.u-section-8 .u-image-6 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-7 {
  padding: 16px 20px;
}

.u-section-8 .u-image-7 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-8 {
  padding: 16px 20px;
}

.u-section-8 .u-image-8 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-9 {
  padding: 16px 20px;
}

.u-section-8 .u-image-9 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-10 {
  padding: 16px 20px;
}

.u-section-8 .u-image-10 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-11 {
  padding: 16px 20px;
}

.u-section-8 .u-image-11 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-12 {
  padding: 16px 20px;
}

.u-section-8 .u-image-12 {
  height: 55px;
  width: 208px;
  margin: 0 auto;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 218px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: -277px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 656px;
}

.u-section-9 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-9 .u-shape-1 {
  width: 144px;
  height: 144px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 0;
}

.u-section-9 .u-form-1 {
  height: 454px;
  width: 570px;
  margin: -144px auto 0;
}

.u-section-9 .u-input-1 {
  --radius: 10px;
}

.u-section-9 .u-input-2 {
  --radius: 10px;
}

.u-section-9 .u-input-3 {
  --radius: 10px;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  --radius: 10px;
  width: 100%;
  padding: 10px 0;
}

.u-section-9 .u-shape-2 {
  width: 144px;
  height: 144px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -144px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 62px;
  }

  .u-section-9 .u-shape-1 {
    width: 97px;
    height: 97px;
    margin-top: 12px;
  }

  .u-section-9 .u-form-1 {
    margin-top: 18px;
  }

  .u-section-9 .u-shape-2 {
    width: 97px;
    height: 97px;
    margin-top: 18px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-shape-1 {
    margin-top: -26px;
  }

  .u-section-9 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-shape-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 20px;
  }
}